<a href="https://colab.research.google.com/github/Neha8112/Files_Pandas/blob/main/Pandas_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving supermarket_sales.csv to supermarket_sales.csv

# Importing Data

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("supermarket_sales.csv")
print(df)

    Invoice_ID Branch   City Customer_type  Gender            Product_line  \
0     INV-1000      A  City3        Member  Female         Health & Beauty
1     INV-1001      C  City2        Normal    Male         Health & Beauty
2     INV-1002      C  City2        Member  Female         Sports & Travel
3     INV-1003      A  City2        Normal  Female        Food & Beverages
4     INV-1004      A  City1        Member  Female         Sports & Travel
..         ...    ...    ...           ...     ...                     ...
495   INV-1495      B  City3        Normal    Male        Food & Beverages
496   INV-1496      C  City2        Member    Male        Home & Lifestyle
497   INV-1497      C  City2        Member  Female         Sports & Travel
498   INV-1498      A  City3        Normal  Female  Electronic Accessories
499   INV-1499      A  City2        Member  Female        Home & Lifestyle

     Unit_price  Quantity        Date   Time      Payment  Rating  Tax_5%  \
0         88.32         8  2021-02-17   8:52      Ewallet      10   35.33
1         10.33         4  2021-02-05  16:15         Cash      10    2.07
2         85.90         7  2021-02-24  14:11      Ewallet       9   30.07
3         48.25         5  2021-01-04  15:00      Ewallet       8   12.06
4         75.09         7  2021-03-26   8:31  Credit card       6   26.28
..          ...       ...         ...    ...          ...     ...     ...
495       84.32         7  2021-01-18  17:23      Ewallet       3   29.51
496       15.13         5  2021-03-23  17:07      Ewallet      10    3.78
497       26.38         2  2021-03-31  21:04      Ewallet       9    2.64
498       92.23         3  2021-03-14  17:17         Cash       4   13.83
499       81.00         1  2021-02-12   8:16      Ewallet       4    4.05

      Total
0    741.89
1     43.39
2    631.37
3    253.31
4    551.91
..      ...
495  619.75
496   79.43
497   55.40
498  290.52
499   85.05

[500 rows x 14 columns]

# Display 5 Rows

In [ ]:
df.head()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,INV-1000,A,City3,Member,Female,Health & Beauty,88.32,8,2021-02-17,8:52,Ewallet,10,35.33,741.89
1,INV-1001,C,City2,Normal,Male,Health & Beauty,10.33,4,2021-02-05,16:15,Cash,10,2.07,43.39
2,INV-1002,C,City2,Member,Female,Sports & Travel,85.90,7,2021-02-24,14:11,Ewallet,9,30.07,631.37
3,INV-1003,A,City2,Normal,Female,Food & Beverages,48.25,5,2021-01-04,15:00,Ewallet,8,12.06,253.31
4,INV-1004,A,City1,Member,Female,Sports & Travel,75.09,7,2021-03-26,8:31,Credit card,6,26.28,551.91

#Access last five rows

In [ ]:
df.tail()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
495,INV-1495,B,City3,Normal,Male,Food & Beverages,84.32,7,2021-01-18,17:23,Ewallet,3,29.51,619.75
496,INV-1496,C,City2,Member,Male,Home & Lifestyle,15.13,5,2021-03-23,17:07,Ewallet,10,3.78,79.43
497,INV-1497,C,City2,Member,Female,Sports & Travel,26.38,2,2021-03-31,21:04,Ewallet,9,2.64,55.40
498,INV-1498,A,City3,Normal,Female,Electronic Accessories,92.23,3,2021-03-14,17:17,Cash,4,13.83,290.52
499,INV-1499,A,City2,Member,Female,Home & Lifestyle,81.00,1,2021-02-12,8:16,Ewallet,4,4.05,85.05

In [ ]:
df.describe()

       Unit_price    Quantity      Rating      Tax_5%      Total
count  500.000000  500.000000  500.000000  500.000000  500.00000
mean    53.729140    5.042000    5.408000   13.442920  282.29916
std     25.819017    2.647689    2.793052   10.162587  213.41714
min     10.090000    1.000000    1.000000    0.550000   11.51000
25%     32.135000    3.000000    3.000000    4.937500  103.66750
50%     53.675000    5.000000    5.000000   10.825000  227.36500
75%     76.085000    7.000000    8.000000   19.287500  404.99750
max    100.000000    9.000000   10.000000   44.470000  933.94000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice_ID     500 non-null    object
 1   Branch         500 non-null    object
 2   City           500 non-null    object
 3   Customer_type  500 non-null    object
 4   Gender         500 non-null    object
 5   Product_line   500 non-null    object
 6   Unit_price     500 non-null    float64
 7   Quantity       500 non-null    int64
 8   Date           500 non-null    object
 9   Time           500 non-null    object
 10  Payment        500 non-null    object
 11  Rating         500 non-null    int64
 12  Tax_5%         500 non-null    float64
 13  Total          500 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 54.8+ KB

In [ ]:
df.shape

(500, 14)

#Displaying total columns from Dataset

In [ ]:
df.columns

Index(['Invoice_ID', 'Branch', 'City', 'Customer_type', 'Gender',
       'Product_line', 'Unit_price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating', 'Tax_5%', 'Total'],
      dtype='object')

#Getting all columns one by one

In [ ]:
for column in df.columns:
  print(column)

Invoice_ID
Branch
City
Customer_type
Gender
Product_line
Unit_price
Quantity
Date
Time
Payment
Rating
Tax_5%
Total

#Data Cleaning

#Checking Column Types

In [ ]:
df.dtypes

Invoice_ID        object
Branch            object
City              object
Customer_type     object
Gender            object
Product_line      object
Unit_price       float64
Quantity           int64
Date              object
Time              object
Payment           object
Rating             int64
Tax_5%           float64
Total            float64
dtype: object

# DataFrame Information

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice_ID     500 non-null    object
 1   Branch         500 non-null    object
 2   City           500 non-null    object
 3   Customer_type  500 non-null    object
 4   Gender         500 non-null    object
 5   Product_line   500 non-null    object
 6   Unit_price     500 non-null    float64
 7   Quantity       500 non-null    int64
 8   Date           500 non-null    object
 9   Time           500 non-null    object
 10  Payment        500 non-null    object
 11  Rating         500 non-null    int64
 12  Tax_5%         500 non-null    float64
 13  Total          500 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 54.8+ KB

#Checking Missing Values For Each Column

In [ ]:
df.isnull()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# checkinh number of columns

In [ ]:
len(df.columns)

14

In [ ]:
df.shape

(500, 14)

#checking missing values count on each column

In [ ]:
df.isnull().sum()

Invoice_ID       0
Branch           0
City             0
Customer_type    0
Gender           0
Product_line     0
Unit_price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
Tax_5%           0
Total            0
dtype: int64

#Checking missing values count on each column, applying sorting

In [ ]:
df.isnull().sum().sort_values()

Invoice_ID       0
Branch           0
City             0
Customer_type    0
Gender           0
Product_line     0
Unit_price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
Tax_5%           0
Total            0
dtype: int64

In [ ]:
df.isnull().sum().sort_values(ascending = False)

Invoice_ID       0
Branch           0
City             0
Customer_type    0
Gender           0
Product_line     0
Unit_price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
Tax_5%           0
Total            0
dtype: int64

# Checking type of invoice_date column

In [ ]:
df.dtypes

Invoice_ID        object
Branch            object
City              object
Customer_type     object
Gender            object
Product_line      object
Unit_price       float64
Quantity           int64
Date              object
Time              object
Payment           object
Rating             int64
Tax_5%           float64
Total            float64
dtype: object

# Access intial data

In [ ]:
df.head(2)

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,INV-1000,A,City3,Member,Female,Health & Beauty,88.32,8,2021-02-17,8:52,Ewallet,10,35.33,741.89
1,INV-1001,C,City2,Normal,Male,Health & Beauty,10.33,4,2021-02-05,16:15,Cash,10,2.07,43.39

#Converting invoice_date data type into datatime data type

In [ ]:
df.head()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,INV-1000,A,City3,Member,Female,Health & Beauty,88.32,8,2021-02-17,8:52,Ewallet,10,35.33,741.89
1,INV-1001,C,City2,Normal,Male,Health & Beauty,10.33,4,2021-02-05,16:15,Cash,10,2.07,43.39
2,INV-1002,C,City2,Member,Female,Sports & Travel,85.90,7,2021-02-24,14:11,Ewallet,9,30.07,631.37
3,INV-1003,A,City2,Normal,Female,Food & Beverages,48.25,5,2021-01-04,15:00,Ewallet,8,12.06,253.31
4,INV-1004,A,City1,Member,Female,Sports & Travel,75.09,7,2021-03-26,8:31,Credit card,6,26.28,551.91

In [ ]:
df.dtypes

Invoice_ID        object
Branch            object
City              object
Customer_type     object
Gender            object
Product_line      object
Unit_price       float64
Quantity           int64
Date              object
Time              object
Payment           object
Rating             int64
Tax_5%           float64
Total            float64
dtype: object

In [ ]:
df.head()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,INV-1000,A,City3,Member,Female,Health & Beauty,88.32,8,2021-02-17,8:52,Ewallet,10,35.33,741.89
1,INV-1001,C,City2,Normal,Male,Health & Beauty,10.33,4,2021-02-05,16:15,Cash,10,2.07,43.39
2,INV-1002,C,City2,Member,Female,Sports & Travel,85.90,7,2021-02-24,14:11,Ewallet,9,30.07,631.37
3,INV-1003,A,City2,Normal,Female,Food & Beverages,48.25,5,2021-01-04,15:00,Ewallet,8,12.06,253.31
4,INV-1004,A,City1,Member,Female,Sports & Travel,75.09,7,2021-03-26,8:31,Credit card,6,26.28,551.91

#Missing Values

# Based on team meeting/client discussion we will need to perform accordingly

In [ ]:
df.isnull().sum().sort_values(ascending = False)

Invoice_ID       0
Branch           0
City             0
Customer_type    0
Gender           0
Product_line     0
Unit_price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
Tax_5%           0
Total            0
dtype: int64

#Dropping missing values

In [ ]:
df_new = df.dropna()

#After dropping missing values then again Checking missing values for each columns

In [ ]:
df_new.isnull().sum()

Invoice_ID       0
Branch           0
City             0
Customer_type    0
Gender           0
Product_line     0
Unit_price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
Tax_5%           0
Total            0
dtype: int64

#DataFrame information

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice_ID     500 non-null    object
 1   Branch         500 non-null    object
 2   City           500 non-null    object
 3   Customer_type  500 non-null    object
 4   Gender         500 non-null    object
 5   Product_line   500 non-null    object
 6   Unit_price     500 non-null    float64
 7   Quantity       500 non-null    int64
 8   Date           500 non-null    object
 9   Time           500 non-null    object
 10  Payment        500 non-null    object
 11  Rating         500 non-null    int64
 12  Tax_5%         500 non-null    float64
 13  Total          500 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 54.8+ KB

In [ ]:
df_new.head()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,INV-1000,A,City3,Member,Female,Health & Beauty,88.32,8,2021-02-17,8:52,Ewallet,10,35.33,741.89
1,INV-1001,C,City2,Normal,Male,Health & Beauty,10.33,4,2021-02-05,16:15,Cash,10,2.07,43.39
2,INV-1002,C,City2,Member,Female,Sports & Travel,85.90,7,2021-02-24,14:11,Ewallet,9,30.07,631.37
3,INV-1003,A,City2,Normal,Female,Food & Beverages,48.25,5,2021-01-04,15:00,Ewallet,8,12.06,253.31
4,INV-1004,A,City1,Member,Female,Sports & Travel,75.09,7,2021-03-26,8:31,Credit card,6,26.28,551.91

#Check type of cust_id data type

In [ ]:
df_new.dtypes

Invoice_ID        object
Branch            object
City              object
Customer_type     object
Gender            object
Product_line      object
Unit_price       float64
Quantity           int64
Date              object
Time              object
Payment           object
Rating             int64
Tax_5%           float64
Total            float64
dtype: object

#Converting cust_id float type into integer type

In [ ]:
df_new['Invoice_ID']

0      INV-1000
1      INV-1001
2      INV-1002
3      INV-1003
4      INV-1004
         ...
495    INV-1495
496    INV-1496
497    INV-1497
498    INV-1498
499    INV-1499
Name: Invoice_ID, Length: 500, dtype: object

#Ignoring warnings in jupyter

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_new['Unit_price'] = df_new['Unit_price'].astype('int64')

#Accessing first five rows

In [ ]:
df_new.head()

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Date,Time,Payment,Rating,Tax_5%,Total
0,INV-1000,A,City3,Member,Female,Health & Beauty,88,8,2021-02-17,8:52,Ewallet,10,35.33,741.89
1,INV-1001,C,City2,Normal,Male,Health & Beauty,10,4,2021-02-05,16:15,Cash,10,2.07,43.39
2,INV-1002,C,City2,Member,Female,Sports & Travel,85,7,2021-02-24,14:11,Ewallet,9,30.07,631.37
3,INV-1003,A,City2,Normal,Female,Food & Beverages,48,5,2021-01-04,15:00,Ewallet,8,12.06,253.31
4,INV-1004,A,City1,Member,Female,Sports & Travel,75,7,2021-03-26,8:31,Credit card,6,26.28,551.91

#New DataFrame information

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice_ID     500 non-null    object
 1   Branch         500 non-null    object
 2   City           500 non-null    object
 3   Customer_type  500 non-null    object
 4   Gender         500 non-null    object
 5   Product_line   500 non-null    object
 6   Unit_price     500 non-null    int64
 7   Quantity       500 non-null    int64
 8   Date           500 non-null    object
 9   Time           500 non-null    object
 10  Payment        500 non-null    object
 11  Rating         500 non-null    int64
 12  Tax_5%         500 non-null    float64
 13  Total          500 non-null    float64
dtypes: float64(2), int64(3), object(9)
memory usage: 54.8+ KB

#DataFrame description

In [ ]:
df_new.describe()

       Unit_price    Quantity      Rating      Tax_5%      Total
count  500.000000  500.000000  500.000000  500.000000  500.00000
mean    53.250000    5.042000    5.408000   13.442920  282.29916
std     25.821716    2.647689    2.793052   10.162587  213.41714
min     10.000000    1.000000    1.000000    0.550000   11.51000
25%     31.750000    3.000000    3.000000    4.937500  103.66750
50%     53.000000    5.000000    5.000000   10.825000  227.36500
75%     76.000000    7.000000    8.000000   19.287500  404.99750
max    100.000000    9.000000   10.000000   44.470000  933.94000

#Rounding the values in DataFrame

In [ ]:
df_new.describe().round(2)

       Unit_price  Quantity  Rating  Tax_5%   Total
count      500.00    500.00  500.00  500.00  500.00
mean        53.25      5.04    5.41   13.44  282.30
std         25.82      2.65    2.79   10.16  213.42
min         10.00      1.00    1.00    0.55   11.51
25%         31.75      3.00    3.00    4.94  103.67
50%         53.00      5.00    5.00   10.82  227.36
75%         76.00      7.00    8.00   19.29  405.00
max        100.00      9.00   10.00   44.47  933.94

In [ ]:
print(df_new)

    Invoice_ID Branch   City Customer_type  Gender            Product_line  \
0     INV-1000      A  City3        Member  Female         Health & Beauty
1     INV-1001      C  City2        Normal    Male         Health & Beauty
2     INV-1002      C  City2        Member  Female         Sports & Travel
3     INV-1003      A  City2        Normal  Female        Food & Beverages
4     INV-1004      A  City1        Member  Female         Sports & Travel
..         ...    ...    ...           ...     ...                     ...
495   INV-1495      B  City3        Normal    Male        Food & Beverages
496   INV-1496      C  City2        Member    Male        Home & Lifestyle
497   INV-1497      C  City2        Member  Female         Sports & Travel
498   INV-1498      A  City3        Normal  Female  Electronic Accessories
499   INV-1499      A  City2        Member  Female        Home & Lifestyle

     Unit_price  Quantity        Date   Time      Payment  Rating  Tax_5%  \
0            88         8  2021-02-17   8:52      Ewallet      10   35.33
1            10         4  2021-02-05  16:15         Cash      10    2.07
2            85         7  2021-02-24  14:11      Ewallet       9   30.07
3            48         5  2021-01-04  15:00      Ewallet       8   12.06
4            75         7  2021-03-26   8:31  Credit card       6   26.28
..          ...       ...         ...    ...          ...     ...     ...
495          84         7  2021-01-18  17:23      Ewallet       3   29.51
496          15         5  2021-03-23  17:07      Ewallet      10    3.78
497          26         2  2021-03-31  21:04      Ewallet       9    2.64
498          92         3  2021-03-14  17:17         Cash       4   13.83
499          81         1  2021-02-12   8:16      Ewallet       4    4.05

      Total
0    741.89
1     43.39
2    631.37
3    253.31
4    551.91
..      ...
495  619.75
496   79.43
497   55.40
498  290.52
499   85.05

[500 rows x 14 columns]